body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.pemdas-image {
    display: block;
    margin: 0 auto;
    margin-top: 0px; 
    max-width: 80%; 
    height: auto; 

}

.content-container {
    display: flex;
    align-items: start; /* Aligns items to the start of the container */
    justify-content: space-between; /* Puts space between the two elements */
}

.text-content {
    /* Adjust the width as needed */
    width: 40%; 
}

.google-slides {
    /* The iframe takes the remaining space */
    width: 640px; /* Adjust as needed */
    height: 379.3px; /* Adjust as needed */
    margin-top: 120px;
    margin-left: -1000px; 
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: transparent; 
    color: black; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black; 
}

.button:hover {
    background-color: black; 
    color: white; 
}

.ProjectBackground {
    max-width: 600px; 
    padding: 0 10px; 
}

.ProjectDescription {
    max-width: 600px; 
    padding: 0 10px; 
}

nav {
    background-color: rgb(157, 157, 157); 
    padding: 10px; 
    text-align: center; 
    border: 1px solid #000000; 
}

.nav-button {
    margin: 0 10px; 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

.nav-button:hover {
    color: white; 
    background-color: rgb(0, 0, 0); 
    border-radius: 5px; 
}

.team-photo {
    width: 200px; 
    height: 400px;
    height: auto; 
}

.team-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
}

.team-member {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: 5px; 
    flex-basis: 200px; 
}

.team-member h3 {
    margin-bottom: -10px; 
}

.team-photo {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}


.originalProject {
        display: inline-block; 
        padding: 10px 20px; 
        margin: 5px 0; 
        background-color: rgb(157, 157, 157); 
        color: rgb(0, 0, 0); 
        text-align: center;
        text-decoration: none; 
        font-weight: bold;
        border: 1px solid #000000; 
        border-radius: 5px; 
        transition: background-color 0.3s, color 0.3s; /
}

.originalProject:hover {
    background-color: rgb(255, 255, 255); 
    color: #000000; 
}

.requirementsButton {
    display: inline-block; 
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px; 
    margin: 5px 0; 
    background-color: rgb(157, 157, 157); 
    color: rgb(0, 0, 0); 
    text-align: center;
    text-decoration: none; 
    font-weight: bold;
    border: 1px solid #000000; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; /

}

.requirementsButton:hover {
background-color: rgb(255, 255, 255); 
color: #000000; 
}



.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/bars.jpg'); /* Add the background image */
    width: 1340; /* Match the width of your video or adjust as needed */
    height: 780px; /* Increase the height to be more than the video height */
}

.welcome-header {
    text-align: center; 
    font-size: 2em; 
    color: #000; 
    font-family: 'YourFontName', Black Ops One    ; /* Use the font-family provided by Google Fonts */
}