body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: transparent; 
    color: black; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black; 
}

.button:hover {
    background-color: black; 
    color: white; 
}

.ProjectBackground {
    max-width: 800px; /* Or any other width that suits your design */
    margin: 0 auto; /* Centers the content */
    padding: 0 10px; /* Optional padding for better readability */
}