body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: transparent; 
    color: black; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black; 
}

.button:hover {
    background-color: black; 
    color: white; 
}

.ProjectBackground {
    max-width: 800px; 
    padding: 0 10px; 
}

.ProjectDescription {
    max-width: 800px; 
    padding: 0 10px; 
}

nav {
    background-color: tan; 
    padding: 10px; 
    text-align: center; 
}

.nav-button {
    margin: 0 10px; 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

.nav-button:hover {
    color: white; 
    background-color: rgb(0, 0, 0); 
    border-radius: 5px; 
}

.team-photo {
    width: 200px; 
    height: 400px;
    height: auto; 
}

.team-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
}

.team-member {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: 10px; 
    flex-basis: 200px; 
}

